/* nav style css */
.nav-parent{
    display: flex;
    justify-content: space-between;
    margin: 23.5px 115.5px 24.5px 115.5px;
    
}
.nav-middle ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
}
.common-btn{
    border: none;
    border-radius: 10px;
    background-color: blue;
    padding: 12px 41.5px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Inter',sans-serif;

}
.common-btn:hover{
    background-color: rgb(146, 146, 208);
    color: black;
    cursor: pointer;
}


/* banner css */
.banner-parent{
    height: 786px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("./assets/banner.jpg");

    text-align: center;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-parent h2,p{
    font-family: 'Inter',sans-serif;
    color: #ffffff;
}
.banner-parent h2{
    margin: 0 auto;
    font-size: 80px;
    font-weight: 700;
}
.banner-parent p{
    font-size: 22px;
    font-weight: 400;
    margin: 0px 301px 0px 320px;
}
.banner-parent button{
    margin-top: 278px;
}

/* speaker css */
.speaker-parent h2{
    text-align: center;
}

.speaker-parent{
    margin-top: 80px;
}
.speaker-parent h2{
    color:  #000102FF;
    font-size: 56px;
    font-weight: 700;
}


.speaker-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
    margin-right: 110px;
    margin-left: 110px;
    
}
.speaker-card-content{
    border: 1px solid  #e5e7ebFF;
    border-radius: 12px;
    
}

.speaker-desig{
    color: #2563ebFF;
    font-size: 12px;
    font-weight: 600;
    padding-left: 24px;
}
.speaker-name{
    color: #0d1b2aFF;
    font-size: 20px;
    font-weight: 700;
    padding-left: 24px;
}
.speaker-work{
    color: #575757FF;
    font-size: 14px;
    font-weight: 400;
    padding-left: 24px;
}

/* secure your spot css */
.spot-parent h2, .spot-parent p{
    color: black;
    text-align: center;
    
}
.spot-parent h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    color: #0d1b2a;
    margin-bottom: 0px;
}
.spot-parent p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #575757;
    margin-top: 0px;
}

.spot-card{
    height: auto;
    width: 1320px;
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
}
.spot-card-content,.spot-card-content-pro{
    padding: 32px;
    font-family: 'Inter',sans-serif;
    border: 1px solid #e5e7ebFF;
    border-radius: 12px;
}
.spot-card-content-pro{
    background-color: #0d1b2aFF;
}
.spot-card-content-pro hr{
    color: #ffffff33;
}
.card-type-pro{
    font-size: 13px;
    font-weight: 600;
    color: #93C5FD;
}
.card-price-pro{
    font-size: 44px;
    font-weight: 700;
    color: #ffffff;
}
.content-down-pro{
    font-size: 14px;
    font-weight: 400;
    color: #ffffffcc;
    line-height: 1.5;
    padding: 12px;
}

.content-up{
    list-style: none;
    padding: 0px;
    
}
.card-type{
    font-size: 13px;
    font-weight: 600;
    color: #888888;
}
.card-price{
    font-size: 44px;
    font-weight: 700;
    color: #0d1b2a;
}
.card-unit{
    font-size: 13px;
    font-weight: 400;
    color: #888888;
}
.content-down{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 1.5;
    padding: 12px;

}
.content-down li::marker{
    color: blue;
}
.card-btn{
    border: none;
    border-radius: 10px;
    background-color: blue;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Inter',sans-serif;
    width: 100%;
}
.card-btn:hover{
    background-color: rgb(146, 146, 208);
    cursor: pointer;
}

.card-btn-2{
    border: 1px solid #2563ebFF;
    border-radius: 10px;
    background-color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    color: black;
    font-family: 'Inter',sans-serif;
    width: 100%;
}
.card-btn-2:hover{
    background-color: rgb(146, 146, 208);
    cursor: pointer;
}
/* mission css */
.mission-parent{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mission-parent p{
    color: #0d1b2a;
    margin-top: 0px;
}
.mission-parent h2{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    font-size: 36px;
}

.mission-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 32px;
    font-family: 'Inter',sans-serif;
    border: 1px solid #e5e7ebFF;
    border-radius: 12px;
}
.mission-card p{
    color: #0d1b2a;
}
.mission-card i{
    font-size: 30px;
}





/* footer css starts */
.footer-parent{
    background-color: #0d1b2a;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    align-items: center;
    padding: 20px 70px;
}
.footer-parent p{
    color: #ffffff66;
}
.footer-right{
    display: flex;
    gap: 20px;
}
